[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restx = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
flask-migrate = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
autopep8 = "*"
flake8 = "*"

[requires]
python_version = "3.9"
